<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="movie-list">
      <% @movies.each do |movie| %>
          <div class="movie">
            <% movie.movie_images.each do |image| %>
              <div class="movie-poster"><%= link_to image_tag(image.image_url), movie %></div>
            <% end %>
            <div class="movie-title"><%= truncate movie.name, length: 30 %></div>
          </div>
      <% end %>
    </div>
    <div class="pagination">
      <%= will_paginate @movies %>
    </div>
  </div>
</div>  

<%= render "trend" %>   
