@import "bootstrap-sprockets";
@import "bootstrap";
 
.dropdown {
	display: inline;
}

#branding {
	display: inline-flex;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#loginbox {
  margin-top:50px;
}

#field {
  margin-bottom: 25px;
}

#actions {
  margin-top:10px;
}

#dont_account {
  border-top: 1px solid#888;
  font-size:90%;
  padding-top:15px;
}

#forgot_password {
  float:right;
  font-size: 90%;
  position: relative;
  top:-20px;
}

#login_body {
  padding: 30px 15px;
}

#lost-form {
  display: none;
}

#register-form {
  display: none;
}

figure .movie_poster {
  margin-right: 5px;
}

figure img {
  display: block;
  width: 80%;
  max-width: 100%;
  height: auto;
}

#playTrailer {
  position: absolute;
  height: 230px;
  width: 355px;
}

.user-reviews {
  background-color: #f1f1f1;
  padding: 0.01em 16px;
  margin: 20px 0;
  border-radius: 6px;
}

.wire-review-btn {
  margin: 20px 0;
  text-decoration: none;
}

.media {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 50px;  
}

.media-left {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

.media-object {
  width: 50px;
}

#review-title {
  display: grid;
}

.star-rating {
  display: inline-block;
}

#panel-movie-info {
  list-style: none;
}

.inter-actions {
  display: inline;
}

.interactive-review {
  display: inline;
}

.inter-label {
  margin-top: 20px;
}

.search-form {
  padding: 3px 10px;
}
